
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    
    <script src="https://utteranc.es/client.js"
            repo="AkashaRojee/Akasha.Rojee.github.io"
            issue-term="title"
            label="comment thread"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>

  </body>

</html>
